<?xml version="1.0" encoding="utf-8"?>
<manifest>

    <!-- uexTaskSubmit 获取系统窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <activity
        android:name="org.zywx.wbpalmstar.plugin.uexTaskSubmit.Activitys.MarkbugsActivity"
        android:label="@string/plugin_task_submit_title_activity_markbugs"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
    </activity>
    <activity
        android:name="org.zywx.wbpalmstar.plugin.uexTaskSubmit.Activitys.LoginDialogActivity"
        android:label="@string/plugin_task_submit_title_activity_login_dialog"
        android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" >
    </activity>
    <activity
        android:name="org.zywx.wbpalmstar.plugin.uexTaskSubmit.Activitys.CreateTaskActivity"
        android:label="@string/plugin_task_submit_title_activity_create_task"
        android:theme="@android:style/Theme.Holo.Light" >
    </activity>
    <activity
        android:name="org.zywx.wbpalmstar.plugin.uexTaskSubmit.Activitys.QuitDialogActivity"
        android:label="@string/plugin_task_submit_title_activity_quit_dialog"
        android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" >
    </activity>

</manifest>